<!DOCTYPE html>
<html>
<head>
    <title>Add product</title>
</head>
<body>
    <!-- הודעה למשתמש שהמוצר הווסף בהצלחה -->
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <h2>Add new product</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">add</button>
    </form>
</body>
</html>
