{% extends "app/layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenThread - Welcome</title>
</head>
<body>
    <h1>Welcome to GreenThread!</h1>
    <p>Our mission is to promote sustainability by providing a platform for buying and selling used clothes.</p>
    <p>The website is currently under construction. Thank you for your patience.</p>
    <a href="/login" class="button dynamic-link">Login</a>
    <a href="/signup" class="button dynamic-link">Sign Up</a>
    <script src="../../static/js/main.js"></script> <!-- Ensure the path to your main.js is correct -->
</body>
</html>
